$imgContainerMaxHeight: 24rem;

.fullWidth {
  composes: fullWidth from global;
}

.wrapper {
  margin: 0;
}

.imgContainer {
  max-height: $imgContainerMaxHeight;
}

.productImg {
  @extend .fullWidth;
  height: 100%;
  object-fit: contain;
}

.price {
  composes: emphasizedText_xl from global;
}
