* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 16px; /*for using REM units*/
}

body {
  margin: 0;
  font-size: var(--fontSize_md);
  font-weight: var(--fontWeight_normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 22rem;
  min-height: 100%;
  height: fit-content;
}

a {
  text-decoration: none;
}

.fullWidth {
  width: 100%;
}

.textJustify {
  text-align: justify;
}

.emphasizedText {
  font-weight: var(--fontWeight_bold);
  color: var(--primaryColor);
}

.emphasizedText_lg {
  @extend .emphasizedText;
  font-size: var(--fontSize_lg);
}

.emphasizedText_xl {
  @extend .emphasizedText;
  font-size: var(--fontSize_xl);
}

@mixin clamp-text($linesCount: 2) {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  -webkit-line-clamp: $linesCount;
}
