:root {
  --primaryColor: #d87e0d;
  --secondaryColor: #716e6e;
  --primaryDarkColor: #c75805;
  --primaryLightColor: #e29617;
  --primaryVeryLightColor: #fbf2e1;
  --secondaryColor: #5d5a5a;
  --secondaryDarkColor: #1e1b1b;
  --secondaryLightColor: #999696;
  --secondaryVeryLightColor: #f5f2f2;
  --dividerColor: #0000001f;
  --primaryTextColor: #313131;
  --secondaryTextColor: #919191;
  --disabledTextColor: #c2c2c2;

  --fontSize_sm: 0.8rem;
  --fontSize_md: 1rem;
  --fontSize_lg: 1.5rem;
  --fontSize_xl: 2rem;

  --fontWeight_normal: 400;
  --fontWeight_semiBold: 600;
  --fontWeight_bold: 700;

  --margin_sm: 0.5rem;
  --margin_md: 2rem;
  --margin_lg: 4rem;
  --margin_xl: 8rem;
  --margin_xxl: 12rem;
}
