:root {
  --primaryColor: #d87e0d;
  --secondaryColor: #716e6e;
  --primaryDarkColor: #c75805;
  --primaryLightColor: #e29617;
  --primaryVeryLightColor: #fbf2e1;
  --secondaryColor: #5d5a5a;
  --secondaryDarkColor: #1e1b1b;
  --secondaryLightColor: #999696;
  --secondaryVeryLightColor: #f5f2f2;
  --dividerColor: #0000001f;
  --primaryTextColor: #313131;
  --secondaryTextColor: #919191;
  --disabledTextColor: #c2c2c2;

  --fontSize_sm: 0.9rem;
  --fontSize_md: 1rem;
  --fontSize_lg: 1.2rem;
  --fontSize_xl: 1.5rem;
  --fontSize_xxl: 2rem;

  --fontWeight_normal: 400;
  --fontWeight_semiBold: 600;
  --fontWeight_bold: 700;

  --margin_sm: 0.5rem;
  --margin_md: 2rem;
  --margin_lg: 4rem;
  --margin_xl: 8rem;
  --margin_xxl: 12rem;

  --p_md: 1rem;

  --xs: 0px;
  --sm: 600px;
  --md: 900px;
  --lg: 1200px;
  --xl: 1536px;

  --boxShadow_sm: 0px 1px 2px 0px rgba(28, 39, 49, 0.08);
  --boxShadow_md: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --boxShadow_lg: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);

  --cardMinWidth: 9.375rem;
  --cardMaxWidth: 21.875rem;
  --cardImgHeight: 11.25rem;
}
