@import "../../styles/global.scss";

$cardMinWidth: 150px;
$cardMaxWidth: 350px;
$imgHeight: 180px;

.productCard {
  max-width: $cardMaxWidth;
  min-width: $cardMinWidth;
}

.img {
  height: $imgHeight;
  object-fit: contain; //TODO
}

.price {
  @extend .emphasizedText;
}

.MuiCardMedia-root {
  object-fit: contain;
}
