@import "../../styles/global.scss";

.actionArea {
  padding: var(--p_md);
  img {
    height: var(--cardImgHeight);
    object-fit: contain;
  }
}

.price {
  @extend .emphasizedText_lg;
}

.clampedText {
  @include clamp-text(2);
}
