@import "../../styles/global.scss";

$cardMinWidth: 9.375rem;
$cardMaxWidth: 21.875rem;
$imgHeight: 11.25rem;

.productCard {
  max-width: $cardMaxWidth;
  min-width: $cardMinWidth;
}

.MuiCardMedia-root {
  object-fit: contain;
}

.actionArea {
  padding: 1rem;
  img {
    height: $imgHeight;
    object-fit: contain; //TODO
  }
}

.price {
  @extend .emphasizedText;
}

.clampedText {
  @include clamp-text(2);
}
