@import "../../styles/global.scss";

$imgContainerMaxHeight: 24rem;

.fullWidth {
  width: 100%;
}

.wrapper {
  margin: 0;
}

.imgContainer {
  max-height: $imgContainerMaxHeight;
}

.productImg {
  @extend .fullWidth;
  height: 100%;
  object-fit: contain;
}

.price {
  @extend .emphasizedText;
  font-size: var(--fontSize_xl);
}
