@import "../../styles/global.scss";

$imgContainerMaxHeight: 30rem;

.wrapper {
  margin: auto;
}

.imgContainer {
  max-height: $imgContainerMaxHeight;
}

.fullWidth {
  width: 100%;
}

.productImg {
  @extend .fullWidth;
  height: 100%;
  object-fit: contain;
}

.price {
  @extend .emphasizedText;
}

.primaryIcon {
  color: var(--primaryColor);
}

.bolderText {
  font-weight: var(--fontWeight_semiBold);
  font-size: var(--fontSize_sm);
}

.indentedList {
  margin-top: var(--margin_sm);
  padding-left: 2rem;
}
