@import "../ProductCard.module.scss";

$cardWidth: 9.375rem;
$cardHeight: 21.875rem;
$imgHeight: 11.25rem;

.card {
  width: $cardWidth;
  height: $cardHeight;
}

.imgPlaceholder {
  min-height: $imgHeight;
  margin-bottom: var(--margin_sm);
}

.textPlaceholder {
  height: 0.625rem;
}

.shorterText {
  @extend .textPlaceholder;
  width: 70%;
}
